body{
    background:url(../Images/BG_Reg.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed

}
.login_div{
    border:solid 4px black;
    width: 300px;
    margin-top:250px;
    border-radius:20px;
    background:rgba(5,2,69,0.45);
    backdrop-filter: blur(8px);
    font-weight:bold;
    font-size: 18px;
    color:white;
    padding:10px;    
}
h1{
    font-size:40px;
}
.close{
   text-align: right;
   margin-left:265px;
   font-size:35px;
   margin-top:25px;
}
.close:hover{
    cursor:pointer;
    color:red;
}
.close:active{
    opacity:0.5;
}
.input{
    margin:8px;
    padding:4px;
    border-radius:5px;
}
.sub_btn{
    background-color:rgb(74,1,1);
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:8px;
    padding-left:8px;
    border-radius: 10px;
    width:100px;    
    font-size:20px;
}
.sub_btn:hover{
   opacity:0.6;
    cursor: pointer;
}   
.sub_btn:active{
    scale:0.8;
    background-color: white;
    color:black;
}
