body{
    background-color: black;

}
.login_c{
    background-color: whitesmoke;
    text-align:center;
    width:230px;
    padding:20px;
    margin:250px;
}
h1{
    font-size:40px;
}
.close{
   text-align: right;
   margin-left:200px;
   font-size:35px;
}
.close:hover{
    cursor:pointer;
    color:red;
}
.close:active{
    opacity:0.5;
}
.input{
    margin:8px;
    padding:4px;
}